
langchain
langchain-core
langchain-text-splitters
langchain-community


langchain-groq
langchain-neo4j


neo4j
neo4j-graphrag


numpy
pandas


python-dotenv
pydantic
pydantic-core
requests
typing-extensions